*{
    margin:0% ;
    box-sizing: border-box;
    text-align: center;
    /*font:;*/
}
.container
{
   /* background-color: rgb(39, 156, 117);*/
    background-image:url("/wet.jpg");
    padding: 50px ;
    border-radius: 10px ;
    margin: 100px 200px;
    color: rgb(9, 9, 9);
}
input[type="text"]
{
    margin-top: 8px ;
    height: 3rem;
    width:  280px ;
    border-radius: 8px;
    border: 2px solid;
    outline: none;
    padding: 10px;
    font-size: 16px ;
    margin-bottom: 20px ;

}
#heading
{
    color: rgb(10, 9, 9);

}
 input :focus{
    background-color: whitesmoke;
    color:green;
    margin: 0%;
 }
 input[type="button"]
 {
    background-color:lightskyblue;
    height: 2rem;
    width : 90px ;
    color :black;
    font-size: 1.1rem;
    border-radius: 8px;
    font: 600px;
    border:currentColor;
    cursor: pointer;
 }
 
